.form-control:focus {
    border-color: #17a2b7; 
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(23, 162, 183, 0.8);
  }

@font-face {
  font-family: 'Comfortaa-Regular';
  src: local('Comfortaa-Regular'),
        url('../static/fonts/Comfortaa-Regular.ttf') format("truetype");
}

h1,
h2,
h3, 
h4,
h5,
h6,
.nav-item,
.header-font {
  font-family: Comfortaa-Regular, sans-serif;
}

.blue, .blue:hover {
  color: #17a2b7;
  text-decoration-color: #17a2b7;
}

.nav-link {
  color: gray;
}
.nav-link:hover {
  /* color: #f57070; */
  color: #17a2b7;
  text-decoration: none !important;
}

.hidden {
  display: none;
}

@media (max-width: 760px) {
  #newRecipeName,
  #newRecipeName > span,
  #newRecipeTag,
  #newRecipeTag > span {
    width: 100%;
  }

  .mobile-shrink {
    font-size: 80%;
  }
  .mobile-shrink-lots {
    font-size: 70%;
  }

  .mobile-center {
    text-align: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-hidden {
    display: none;
  }
  
  .mobile-show {
    display: inline;
  }

  .mobile-grow {
    font-size: 120%;
  }

  .mobile-no-left-auto {
    margin-left: inherit !important;
  }

  .mobile-max-width {
    max-width: 12em;
  }

  .mobile-block {
    display: block;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#layout-container {
  min-height: 100%;
  position: relative;
}
#body {
  padding: 0px;
  padding-bottom: 5.5em;   /* Height of the footer */
}
#footer {
  text-align: center;
  background-color: rgb(245, 245, 245);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5.5em;   /* Height of the footer */
  padding: 1em;
}

.strikethrough:checked + span{
  text-decoration: line-through;
  color: rgb(177, 177, 177);
}

.dropdown-item:hover {
  background-color: rgba(23, 162, 183, 0.8);
}

.btn-group > .btn-info:hover {
  background-color: #17A2B7;
  color: white;
  border-color: #17A2B7;
}

.btn-group > .btn-outline-info:hover {
  background-color: white;
  color: #17A2B7;
  border-color: #17A2B7;
}

ul, ol {
  list-style-position: outside;
}