{% extends 'menu/layout.html' %}
{% load static %}

{% block script %}
    <script src='{% static "js/tools.js" %}' type='text/babel'></script>
    <script src='{% static "js/new_recipe.js" %}' type='text/babel'></script>
{% endblock %}

{% block body %}
    <div class='container rounded border bg-light mt-3 pb-3'>

        {% if edit_recipe %}
            <h1 class='text-center my-3'>
                <img src='{% static "/images/book.svg" %}' height="40" width="40" style='vertical-align: bottom'></img>
                <span class='mobile-shrink'>Edit Recipe:</span> 
                <span>{{ edit_recipe.name }}</span>
            </h1>
        {% else %}
            <h1 class='text-center my-3'>
                <img src='{% static "/images/book.svg" %}' height="40" width="40" style='vertical-align: bottom'></img>
                <span class='mobile-shrink'>New Recipe</span>
            </h1>
        {% endif %}

        <form style='width: 70%;' class='mx-auto' action="{% url 'menu:newrecipe' %}" method='POST' autocomplete="off">
            {% csrf_token %}
            <div class='input-group input-group-sm mb-3'>
                <div class='input-group-prepend' id='newRecipeName'>
                    <span class='input-group-text'>Name of Recipe</span>
                </div>
                <input autofocus type="text" class='form-control' id='name' value='{{ edit_recipe.name }}'>
            </div>

            <!-- times -->
            <div class='row'>
                <div class='input-group input-group-sm mb-3 col-sm-6'>
                    <div class='input-group-prepend'>
                        <span class='input-group-text'>Prep Time (min)</span>
                    </div>
                    <input type="text" class='form-control' id='preptime' value='{{ edit_recipe.prep_time }}'>
                </div>
                <div class='input-group input-group-sm mb-3 col-sm-6'>
                    <div class='input-group-prepend'>
                        <span class='input-group-text'>Cook Time (min)</span>
                    </div>
                    <input type="text" class='form-control' id='cooktime' value='{{ edit_recipe.cook_time }}'>
                </div>
            </div>
            
            <!-- servings and source -->
            <div class='row'>
                <div class='input-group input-group-sm mb-3 col-sm-6'>
                    <div class='input-group-prepend'>
                        <span class='input-group-text'>Servings</span>
                    </div>
                    <input type="text" class='form-control' id='servings' value='{{ edit_recipe.servings }}'>
                </div>
                <div class='input-group input-group-sm mb-3 col-sm-6'>
                    <div class='input-group-prepend'>
                        <span class='input-group-text'>Source</span>
                    </div>
                    <input type="text" class='form-control' id='source' value='{{ edit_recipe.source }}'>
                </div>        
            </div>

            <!-- tags -->
            <div id='tags'>
            </div>

            <hr>
            <!-- ingredients -->
            <div id='ingredients'>
            </div>

            <hr>
            <!-- steps -->
            <div id='steps'>
            </div>

            <hr>
            <!-- submit -->
            {% if edit_recipe %}
                <div class='text-center'>
                    <button type='button' class='btn btn-outline-info my-2' onclick="submit_new_recipe(recipe_id='{{edit_recipe.id}}')">
                        <img src='{% static "/images/check.svg" %}' height="20" width="20" style='vertical-align: -5px' class='p-0 m-0'></img>
                        Save
                    </button>
                    <a href='{% url "menu:recipe" edit_recipe.id %}' class='btn btn-outline-secondary ml-2'>
                        <img src='{% static "/images/close.svg" %}' height="20" width="20" style='vertical-align: -5px' class='p-0 m-0'></img>
                        Cancel
                    </a>
                </div> 
            {% else %}
                <div class='text-center'>
                    <button type='button' class='btn btn-outline-info my-2' onclick="submit_new_recipe()">
                        <img src='{% static "/images/check.svg" %}' height="20" width="20" style='vertical-align: -5px' class='p-0 m-0'></img>
                        <span>Create Recipe</span>
                    </button>
                    <a class='btn btn-outline-secondary' href='{% url "menu:recipes" %}'>
                        <img src='{% static "/images/close.svg" %}' height="20" width="20" style='vertical-align: -5px' class='p-0 m-0'></img>
                        <span>Cancel</span>
                    </a>
                </div>
            {% endif %}
        </form>
    </div>

    <script type='text/babel'>
        const tag_options = '{{ tag_options }}';
        const edit_recipe = '{{ str_edit_recipe }}';
        const add_src = '{% static "/images/add.svg" %}';

        function start() {
            ReactDOM.render(<Ingredients edit_recipe={edit_recipe} add_src={add_src} />, document.querySelector('#ingredients'));
            ReactDOM.render(<Steps edit_recipe={edit_recipe} add_src={add_src} />, document.querySelector('#steps'));
            ReactDOM.render(<Tags tag_options={tag_options} edit_recipe={edit_recipe} add_src={add_src} />, document.querySelector('#tags'));
        }

        if( document.readyState !== 'loading' ) {
            start();
            
        } else {
            document.addEventListener('DOMContentLoaded', function () {
                start();
            })
        }
    </script>
{% endblock %}